Now we will add the categorical variable `host_response_time` to the dataframe:

In [14]:
conn = sqlite3.connect('datawarehouse.db')

In [15]:
# Create a cursor object
cur = conn.cursor()

# Execute the query
query = '''SELECT host_response_time, COUNT(*) AS cnt
FROM listings
WHERE host_response_time <> '' AND host_response_time <> 'N/A'
GROUP BY host_response_time
ORDER BY cnt DESC
LIMIT 1;
'''
cur.execute(query)

# Fetch the results
results = cur.fetchall()

most_common = results[0]
print(most_common)

('within an hour', 5383)

In [16]:
query = '''SELECT id, COALESCE(REPLACE(REPLACE(host_response_time, '', NULL), 'N/A', 'within an hour'), 'within an hour') AS updated_host_response_time
FROM listings;'''

cur.execute(query)

# Fetch the results
results = cur.fetchall()

# Close the cursor object
cur.close()

# Close the connection to the database
conn.close()

r_time = []
for v in results:
    r_time.append(v[1])
    
df = pd.DataFrame({'response_time': r_time})

df.response_time.unique()

array(['within an hour', 'within a few hours', 'within a day',
       'a few days or more', ''], dtype=object)

In [39]:
eda_dkn['host_response_time'] = df['response_time']
eda_dkn.head()

   price  host_response_rate  host_acceptance_rate host_response_time
0   20.0           96.885774             88.742004     within an hour
1  185.0          100.000000            100.000000     within an hour
2  221.0           99.000000            100.000000     within an hour
3  142.0          100.000000            100.000000     within an hour
4  398.0           96.885774             88.742004     within an hour