In [1]:
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

In [2]:
import sqlite3
import pandas as pd
import xlrd
import os 
import csv
from tabulate import tabulate

In [3]:
db_path = '../datasets/datawarehouse.db'

### Price of Each Listing

The following query gets each of the price values from the listing tables.

In [4]:
con=sqlite3.connect(db_path)
cur = con.cursor()

query = '''SELECT id, CAST(REPLACE(price, '$', '') AS FLOAT) as avg_price
FROM listings;
'''

cur.execute(query)
con.commit()

price_arr = cur.fetchall()
con.close()

In [5]:
price_df = pd.DataFrame(price_arr, columns=['id', 'price'])
price_df.head()

                   id  price
0            22229408   20.0
1            46951758  185.0
2  580379638076900630  221.0
3  594971943284098653  142.0
4            54371126  398.0

The "id" corresponds to the listing's specific ID. The "price" shows the price of the given listing.

### Number of Listings In Each AirBnB "Neighborhood" Grouping

The AirBnB dataset contains a "neighbourhood_cleansed" field. This field contains different neighborhood groupings for the Washington, D.C. area. The following query gets the counts of unique neighborhood groups, and orders the output by the number of listings contained in that neighborhood.

In [6]:
con=sqlite3.connect(db_path)
cur = con.cursor()

query = '''
SELECT neighbourhood_cleansed, COUNT(*) as neighborhood_count
FROM listings
GROUP BY neighbourhood_cleansed
ORDER BY neighborhood_count DESC;
'''

cur.execute(query)
con.commit()

nbhd_arr = cur.fetchall()
con.close()

In [7]:
nbhd_df = pd.DataFrame(nbhd_arr, columns=['neighborhood group', 'count'])
nbhd_df.head()

                                  neighborhood group  count
0          Union Station, Stanton Park, Kingman Park    808
1                         Capitol Hill, Lincoln Park    675
2  Columbia Heights, Mt. Pleasant, Pleasant Plain...    609
3  Edgewood, Bloomingdale, Truxton Circle, Eckington    603
4         Dupont Circle, Connecticut Avenue/K Street    562

The `neighbourhood_cleansed` variable contains 39 different neighborhood groupings. Each of the listings has an associated "neighborhood group"/

In [8]:
nbhd_df.head(3)

                                  neighborhood group  count
0          Union Station, Stanton Park, Kingman Park    808
1                         Capitol Hill, Lincoln Park    675
2  Columbia Heights, Mt. Pleasant, Pleasant Plain...    609

Ordering by count allows us to view the neighborhood groups with the greatest number of listings.

### Secondary Data Source Neighborhood Name Count

This query get's neighborhood names from our secondary data source with counts of how many listings exist per neighborhood and orders the output by neighborhood description.

In [9]:
con=sqlite3.connect(db_path)
cur = con.cursor()

query = '''
SELECT NBHDNAME, COUNT(*) as neighborhood_count
FROM property_info
WHERE PROPTYPE LIKE '%Residential%'
GROUP BY NBHDNAME
ORDER BY neighborhood_count DESC;
'''

cur.execute(query)
con.commit()

nbhdname_arr = cur.fetchall()
con.close()

OperationalError: no such table: property_info

In [ ]:
nbhdname_df = pd.DataFrame(nbhdname_arr, columns=['neighhborhood name', 'count'])
nbhdname_df.head()

### Number of Bathrooms

This query gets the categorical description of bathrooms and counts how many of each type of bathroom exists.  It orders the bathrooms types from the largest in the count to smallest.

In [ ]:
con=sqlite3.connect(db_path)
cur = con.cursor()

query = '''
SELECT bathrooms_text, COUNT(*) as num_bath
FROM listings
GROUP BY bathrooms_text
ORDER BY num_bath DESC;
'''

cur.execute(query)
con.commit()

bathroom = cur.fetchall()
con.close()

In [ ]:
nbhdname_df = pd.DataFrame(bathroom, columns=['bathroom', 'number bathrooms'])
nbhdname_df.head()

### Superhost

This query returns t (true) or f (false) whether the host is a superhost or not and counts the number of each.  The larger group will be reported first.

In [ ]:
con=sqlite3.connect(db_path)
cur = con.cursor()

query = '''
SELECT host_is_superhost, COUNT(*) as num_superhosts
FROM listings
GROUP BY host_is_superhost
ORDER BY num_superhosts DESC;
'''

cur.execute(query)
con.commit()

bathroom = cur.fetchall()
con.close()

In [ ]:
superhost = pd.DataFrame(bathroom, columns=['superhost', 'count'])
superhost.head()

### Beds, Bedrooms, Accomodates and Price

It gets the number of bedrooms, beds and how many the listing accomodates along with price.  It also changes numericals into respective ints and floats.

In [ ]:
con=sqlite3.connect(db_path)
cur = con.cursor()

query = '''
SELECT id, CAST(bedrooms AS INT), CAST(beds AS INT), CAST(accommodates AS INT), CAST(REPLACE(price, '$', '') AS FLOAT)
FROM listings;
'''

cur.execute(query)
con.commit()

bbap = cur.fetchall()
con.close()

In [ ]:
bbap_arr = pd.DataFrame(bbap, columns=['id', 'number bedrooms', 'number beds', 'number accommodates', 'price'])
bbap_arr.head()

### Number of Reviews

This query gets the number of reviews a listing has.

In [ ]:
con=sqlite3.connect(db_path)
cur = con.cursor()

query = '''
SELECT id, AVG(number_of_reviews) as avg_rev
FROM listings
GROUP BY id;
'''

cur.execute(query)
con.commit()

reviews1 = cur.fetchall()
con.close()

In [ ]:
reviews_arr = pd.DataFrame(reviews1, columns=['id', 'average reviews'])
reviews_arr.head()

### Review Scores Rating

Reports the average review score a rating has.

In [ ]:
con=sqlite3.connect(db_path)
cur = con.cursor()

query = '''
SELECT id, AVG(review_scores_rating) AS FLOAT
FROM listings
GROUP BY id;
'''

cur.execute(query)
con.commit()

reviews2 = cur.fetchall()
con.close()

In [ ]:
reviews2_arr = pd.DataFrame(reviews2, columns=['superhost', 'count'])
reviews2_arr.head()

### Reviews Per Month

Reports the average reviews by listing id.

In [ ]:
con=sqlite3.connect(db_path)
cur = con.cursor()

query = '''
SELECT id, AVG(reviews_per_month) AS FLOAT
FROM listings
GROUP BY id;
'''

cur.execute(query)
con.commit()

reviews3 = cur.fetchall()
con.close()

In [ ]:
reviews3_arr = pd.DataFrame(reviews3, columns=['id', 'average reviews per month'])
reviews3_arr.head()

### Room Type, Property Type, Instantly Bookable and Price

This query gets the room type, property type, a t (true) or f (false) whether it's instantly bookable and price.

In [ ]:
con=sqlite3.connect(db_path)
cur = con.cursor()

query = '''
SELECT room_type, property_type, instant_bookable, price
FROM listings;
'''

cur.execute(query)
con.commit()

misc1 = cur.fetchall()
con.close()

In [ ]:
misc1_arr = pd.DataFrame(misc1, columns=['room type', 'property type', 'instantly bookable', 'price'])
misc1_arr.head()

### Host Response Time, Host Response Rate, Host Acceptance Rate and Price

This query gets the host response time, rate and acceptance rate.

In [ ]:
con=sqlite3.connect(db_path)
cur = con.cursor()

query = '''
SELECT price, host_response_time, host_response_rate, host_acceptance_rate
FROM listings;
'''

cur.execute(query)
con.commit()

misc2 = cur.fetchall()
con.close()

In [ ]:
misc2_arr = pd.DataFrame(misc2, columns=['price', 'host response time', 'host response rate', 'host acceptance rate'])
misc2_arr.head()

### Bathrooms Text Description and Price

This query gets the listing id, price and bathroom type (categorical).  Every time we use the price we cast it to take out the dollar sign and change it into a float.

In [ ]:
con=sqlite3.connect(db_path)
cur = con.cursor()

query = '''
SELECT id, CAST(REPLACE(price, '$', '') AS FLOAT), bathrooms_text FROM listings;
'''

cur.execute(query)
con.commit()

bathroom2 = cur.fetchall()
con.close()

In [ ]:
bathroom2_arr = pd.DataFrame(bathroom2, columns=['id', 'price', 'bathrooms'])
bathroom2_arr.head()

### Neighbourhood Cleansed and Price

This query gets the listing id, price and neighborhood group.

In [ ]:
con=sqlite3.connect(db_path)
cur = con.cursor()

query = '''
SELECT id, CAST(REPLACE(price, '$', '') AS FLOAT), neighbourhood_cleansed FROM listings;
'''

cur.execute(query)
con.commit()

neighbourhood2 = cur.fetchall()
con.close()

In [ ]:
neighbourhood2_arr = pd.DataFrame(neighbourhood2, columns=['id', 'price', 'neighbourhood'])
neighbourhood2_arr.head()

### Superhost and Price

This query reports the listing id, price and whether the host is a superhost t (true) or f (false).

In [ ]:
con=sqlite3.connect(db_path)
cur = con.cursor()

query = '''
SELECT id, CAST(REPLACE(price, '$', '') AS FLOAT), host_is_superhost
FROM listings;
'''

cur.execute(query)
con.commit()

superhost2 = cur.fetchall()
con.close()

In [ ]:
superhost2_arr = pd.DataFrame(superhost2, columns=['id', 'price', 'superhost'])
superhost2_arr.head()

### Room Type, Property Type, Instantly Bookable and Price

This query gets the room type, property type, whether it's instantly bookable and the price.

In [ ]:
con=sqlite3.connect(db_path)
cur = con.cursor()

query = '''
SELECT room_type, property_type, instant_bookable, price
FROM listings;
'''

cur.execute(query)
con.commit()

misc3 = cur.fetchall()
con.close()

In [ ]:
misc3_arr = pd.DataFrame(misc3, columns=['room type', 'property type', 'instantly bookable', 'price'])
misc3_arr.head()