In [1]:
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

In [2]:
import sqlite3
import pandas as pd
import xlrd
import os 
import csv
from tabulate import tabulate

In [3]:
db_path = '../datasets/datawarehouse.db'

### Price of Each Listing

The following query gets each of the price values from the listing tables.

In [12]:
con=sqlite3.connect(db_path)
cur = con.cursor()

query = '''SELECT id, CAST(REPLACE(price, '$', '') AS FLOAT) as avg_price
FROM listings;
'''

cur.execute(query)
con.commit()

price_arr = cur.fetchall()
con.close()

In [13]:
price_df = pd.DataFrame(price_arr, columns=['id', 'price'])
price_df.head()

                   id  price
0            22229408   20.0
1            46951758  185.0
2  580379638076900630  221.0
3  594971943284098653  142.0
4            54371126  398.0

The "id" corresponds to the listing's specific ID. The "price" shows the price of the given listing.

### Number of Listings In Each AirBnB "Neighborhood" Grouping

The AirBnB dataset contains a "neighbourhood_cleansed" field. This field contains different neighborhood groupings for the Washington, D.C. area. The following query gets the counts of unique neighborhood groups, and orders the output by the number of listings contained in that neighborhood.

In [23]:
con=sqlite3.connect(db_path)
cur = con.cursor()

query = '''
SELECT neighbourhood_cleansed, COUNT(*) as neighborhood_count
FROM listings
GROUP BY neighbourhood_cleansed
ORDER BY neighborhood_count DESC;
'''

cur.execute(query)
con.commit()

nbhd_arr = cur.fetchall()
con.close()

In [24]:
nbhd_df = pd.DataFrame(nbhd_arr, columns=['neighborhood_group', 'count'])
print(len(nbhd_df.neighborhood_group.unique()))

39

The `neighbourhood_cleansed` variable contains 39 different neighborhood groupings. Each of the listings has an associated "neighborhood group"/

In [26]:
nbhd_df.head(3)

                                  neighborhood_group  count
0          Union Station, Stanton Park, Kingman Park    808
1                         Capitol Hill, Lincoln Park    675
2  Columbia Heights, Mt. Pleasant, Pleasant Plain...    609

Ordering by count allows us to view the neighborhood groups with the greatest number of listings.

## Add Information to Queries

Using the format above, provide short

In [6]:
SELECT NBHDNAME, COUNT(*) as neighborhood_count
FROM property_info
WHERE PROPTYPE LIKE '%Residential%'
GROUP BY NBHDNAME
ORDER BY neighborhood_count DESC;

SELECT bathrooms_text, COUNT(*) as num_bath
FROM listings
GROUP BY bathrooms_text
ORDER BY num_bath DESC;

SELECT host_is_superhost, COUNT(*) as num_superhosts
FROM listings
GROUP BY host_is_superhost
ORDER BY num_superhosts DESC;

SELECT id, CAST(bedrooms AS INT), CAST(beds AS INT), CAST(accommodates AS INT), CAST(REPLACE(price, '$', '') AS FLOAT)
FROM listings;

SELECT id, AVG(number_of_reviews) as avg_rev
FROM listings
GROUP BY id;

SELECT id, AVG(review_scores_rating) AS FLOAT
FROM listings
GROUP BY id;

SELECT id, AVG(reviews_per_month) AS FLOAT
FROM listings
GROUP BY id;

SELECT room_type, property_type, instant_bookable, price
FROM listings;

SELECT price, host_response_time, host_response_rate, host_acceptance_rate
FROM listings;

SELECT id, CAST(REPLACE(price, '$', '') AS FLOAT), bathrooms_text FROM listings;

SELECT id, CAST(REPLACE(price, '$', '') AS FLOAT), neighbourhood_cleansed FROM listings;

SELECT id, CAST(REPLACE(price, '$', '') AS FLOAT), host_is_superhost
FROM listings;

SELECT room_type, property_type, instant_bookable, price
FROM listings;

SyntaxError: invalid syntax (648636455.py, line 1)