In [7]:
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

In [8]:
import sqlite3
import pandas as pd
import xlrd
import os 
import csv
from tabulate import tabulate

In [9]:
db_path = '../datasets/datawarehouse.db'

In [10]:
con=sqlite3.connect(db_path)
cur = con.cursor()

query = '''SELECT id, CAST(REPLACE(price, '$', '') AS FLOAT) as avg_price
FROM listings;
'''

cur.execute(query)
con.commit()

price_arr = cur.fetchall()
con.close()

OperationalError: unable to open database file

In [ ]:
con=sqlite3.connect(db_path)
cur = con.cursor()

query = '''
SELECT neighbourhood_cleansed, COUNT(*) as neighborhood_count
FROM listings
GROUP BY neighbourhood_cleansed
ORDER BY neighborhood_count DESC;
'''

cur.execute(query)
con.commit()

price_arr = cur.fetchall()
con.close()

In [ ]:


SELECT NBHDNAME, COUNT(*) as neighborhood_count
FROM property_info
WHERE PROPTYPE LIKE '%Residential%'
GROUP BY NBHDNAME
ORDER BY neighborhood_count DESC;

SELECT bathrooms_text, COUNT(*) as num_bath
FROM listings
GROUP BY bathrooms_text
ORDER BY num_bath DESC;

SELECT host_is_superhost, COUNT(*) as num_superhosts
FROM listings
GROUP BY host_is_superhost
ORDER BY num_superhosts DESC;

SELECT id, CAST(bedrooms AS INT), CAST(beds AS INT), CAST(accommodates AS INT), CAST(REPLACE(price, '$', '') AS FLOAT)
FROM listings;

SELECT id, AVG(number_of_reviews) as avg_rev
FROM listings
GROUP BY id;

SELECT id, AVG(review_scores_rating) AS FLOAT
FROM listings
GROUP BY id;

SELECT id, AVG(reviews_per_month) AS FLOAT
FROM listings
GROUP BY id;

SELECT room_type, property_type, instant_bookable, price
FROM listings;

SELECT price, host_response_time, host_response_rate, host_acceptance_rate
FROM listings;

SELECT id, CAST(REPLACE(price, '$', '') AS FLOAT), bathrooms_text FROM listings;

SELECT id, CAST(REPLACE(price, '$', '') AS FLOAT), neighbourhood_cleansed FROM listings;

SELECT id, CAST(REPLACE(price, '$', '') AS FLOAT), host_is_superhost
FROM listings;

SELECT room_type, property_type, instant_bookable, price
FROM listings;