In [1]:
%matplotlib inline

In [5]:
import xlrd
import os 
import sqlite3
import csv
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import pandas as pd

sns.set(style="whitegrid")

##### Create Dataframe with variables of interest

In [7]:
db_path = './datawarehouse.db'
con=sqlite3.connect(db_path)
cur = con.cursor()

sql_query = pd.read_sql_query('''SELECT room_type, property_type, instant_bookable, price
FROM listings''', con)

df = pd.DataFrame(sql_query, columns = ['room_type', 'price', 'instant_bookable', 'property_type'])
df

            room_type    price instant_bookable              property_type
0        Private room   $20.00                f  Private room in townhouse
1     Entire home/apt  $185.00                f           Entire townhouse
2     Entire home/apt  $221.00                f         Entire rental unit
3     Entire home/apt  $142.00                t         Entire guest suite
4     Entire home/apt  $398.00                t         Entire rental unit
...               ...      ...              ...                        ...
8623  Entire home/apt   $70.00                f               Entire condo
8624  Entire home/apt  $253.00                t  Entire serviced apartment
8625  Entire home/apt   $95.00                t               Entire condo
8626  Entire home/apt  $180.00                t  Entire serviced apartment
8627  Entire home/apt  $150.00                t                Entire home

[8628 rows x 4 columns]

In [8]:
# this changes price from currency to a float
df["price"] = df["price"].replace("[$,]", "", regex=True).astype(float)

### Room Type

In [11]:
df.room_type.value_counts()

Entire home/apt    6455
Private room       2028
Shared room         123
Hotel room           22
Name: room_type, dtype: int64

Roughly 74.8% of the listings are categorized as entire home or apartment, 23.5% of listings are categorized as a private room, 1.4% of listings are categorized as a shared room, and less than 1% is categorized as a hotel room.

### Instant Bookable

In [12]:
df.instant_bookable.value_counts()

f    5767
t    2861
Name: instant_bookable, dtype: int64

Approximately 69% of the observed listings are not available to instantly book, whereas 31% of listings are available to be instantly booked.

### Property Type

In [13]:
df.property_type.value_counts()

Entire rental unit                    2819
Entire home                            935
Private room in home                   746
Entire condo                           673
Entire serviced apartment              655
Entire townhouse                       630
Entire guest suite                     552
Private room in rental unit            506
Private room in townhouse              354
Room in boutique hotel                 120
Room in hotel                           98
Private room in condo                   82
Entire guesthouse                       79
Shared room in rental unit              50
Private room in bed and breakfast       45
Private room in guest suite             42
Entire loft                             37
Shared room in townhouse                29
Shared room in home                     21
Room in aparthotel                      19
Shared room in hostel                   17
Entire vacation home                    17
Entire bungalow                         11
Room in hostel                          11
Private room in guesthouse               9
Entire place                             7
Private room in loft                     7
Room in bed and breakfast                6
Private room in hostel                   5
Private room in villa                    4
Private room                             4
Tiny home                                3
Casa particular                          3
Entire villa                             3
Private room in resort                   3
Private room in bungalow                 2
Room in serviced apartment               2
Castle                                   2
Shared room in guesthouse                2
Entire cottage                           2
Camper/RV                                2
Private room in serviced apartment       2
Private room in casa particular          2
Shared room in serviced apartment        1
Campsite                                 1
Tent                                     1
Tower                                    1
Shared room in loft                      1
Houseboat                                1
Shared room in hotel                     1
Floor                                    1
Shared room in bed and breakfast         1
Boat                                     1
Name: property_type, dtype: int64

While this is a categorical variable, it seems some of the listing property types have unique names/titles that only relate to one or a few listings, causing a large number of buckets/options.